body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

 /* Container do formulário */
 .container {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #4CAF50;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

input {
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;  /* Para garantir que o padding não ultrapasse o tamanho do input */
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;  /* Garante que o botão ocupe toda a largura disponível */
  box-sizing: border-box;  /* Para garantir que o padding não ultrapasse o tamanho do botão */
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  text-align: center;
}

.success {
  color: green;
  text-align: center;
}
